# dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz
.pnpm-store/

# build outputs
dist/
.astro/
.output/

# misc
.DS_Store
*.pem
.env
.env.local
.env.*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# wrangler / cf
.wrangler/
.dev.vars

# IDE
.vscode/
.idea/